@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
    --background: 232 62% 24%;
    --foreground: 43 39% 59%;

    --card: 232 59% 28%;
    --card-foreground: 0 0% 100%;

    --popover: 232 62% 24%;
    --popover-foreground: 0 0% 100%;

    --primary: 45 42% 64%;
    --primary-foreground: 233 55% 29%;

    --secondary: 204 86% 59%;
    --secondary-foreground: 230 59 30%;

    --muted: 232 64% 25%;
    --muted-foreground: 0 0% 100%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 43 39% 59%;
    --input: 43 39% 59%;
    --ring: 44 36% 58%;

    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
